<!doctype html>
<html>

<head>
    <meta name="go-import" content="{{.Link}} git {{.Git}}">
    <meta name="go-source" content="{{.Link}} {{.Sources}}">
    <meta http-equiv="refresh" content="1; URL=/{{.Name}}" />
</head>

<body>
    <h3>Redirecting to <a href="/{{.Name}}">{{.Link}}</a> please wait...<h3>
</body>

</html>